@import 'styles/ui.scss';

.information {
  & > * {
    padding: 2.5px 0;
  }

  &__place {
    @include heading;
    font-size: x-large;
  }

  &__icon {
    padding: 0 0 20px;
    font-size: 100px;
  }

  &__temperature {
    @include heading;
    font-size: xx-large;
  }
}
