@import 'styles/ui.scss';

.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__place {
    @include heading;
    font-size: x-large;
  }

  &__icon {
    padding: 10px 0 20px;
    font-size: 100px;
  }

  &__temperature {
    @include heading;
    font-size: xx-large;
  }
}
