.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  border: 1px solid coral;

  * {
    box-sizing: border-box;
  }

  & > * {
    width: 100%;
    padding: 10px;
  }

  .footer {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid goldenrod;
  }
}
