@import 'styles/ui.scss';
@import 'styles/reset.scss';

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  color: var(--fontColor);
  background-image: var(--bgGradient);
  font-family: var(--bodyFont);

  * {
    box-sizing: border-box;
  }

  & > * {
    width: 100%;
    padding: 10px;
  }
}
