@import 'styles/ui.scss';
@import 'styles/reset.scss';

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  text-align: center;

  color: var(--fontColor);
  background-image: var(--bgGradient);
  font-family: var(--bodyFont);

  * {
    box-sizing: border-box;
  }

  & > * {
    width: 100%;
    padding: 10px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    display: contents;
  }
  .main-wrapper {
    place-items: center;
    display: grid;
  }

  input:focus {
    outline: none;
  }
}
